<html>
  {{>site/templates/head.html}}
  <body>
    {{>site/templates/header.html}}
    <main>
      <div class="text-center">
      <h1>This page is called {{{title}}}</h1>
      <p>It was generated from the source {{{src-path}}}</p>
      </div>
      <div class="container">
      <p>Here are the three most recent posts:</p>
      <ul>
        {{#recent-posts}}
        <li>
          <a href="{{{url}}}">{{{title}}}</a>
          <small>Posted on {{{pretty-date}}} with tags:
            {{#tag-links}}
            <a href="{{{url}}}">{{{id}}}</a>
            {{/tag-links}}
          </small>
        </li>
        {{/recent-posts}}
      </ul>
      </p>
      </div>
    </main>
  </body>
</html>
