<html>
  {{>site/templates/head.html}}
  <body>
    {{>site/templates/header.html}}
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          {{>site/templates/sidebar.html}}
          <main class="col-12 col-md-9 col-xl-8 pl-md-5" role="main">
            <div class="td-content">
              <h1>This post is called {{{title}}}</h1>
              <p>
              <small>Posted on {{{pretty-date}}} with tags:
                {{#tag-links}}
                <a href="{{{url}}}">{{{id}}}</a>
                {{/tag-links}}
              </small> 
              <p>It was generated from the source {{{src-path}}}</p>
              <p>For the url {{{url}}}</p>
              <p>{{{content}}}</p>
            </div>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
